<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Product App</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="nav-bar"></div>

  <div id="app">
    <div class="product">

      <div class="product-image">
        <img :src="image" :alt="description">
      </div>

      <div class="product-info">
        <h1>{{ title }}</h1>

        <p v-if="inventory > 10">In Stock</p>
        <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out</p>
        <p v-else>Out of Stock</p>

        <p v-show="onSale"><em>On Sale!</em></p>

        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>

        <div v-for="variant in variants"
             :key="variant.id"
             class="color-box"
             :style="{ backgroundColor: variant.color }"
             @mouseover="updateVariant(variant)"
        >
        </div>

        <button v-on:click="addToCart()"
                :disabled="inventory <= 0"
                :class="{ disabledButton: inventory <= 0 }"
        >Add to Cart</button>

        <button @click="removeFromCart()"
                :disabled="cart === 0"
                :class="{ disabledButton: cart === 0 }"
        >Remove from Cart</button>

        <div class="cart">
          <p>Cart: {{ cart }}</p>
        </div>

      </div>

    </div>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        brand      : 'Vue Mastery',
        product    : 'Socks',
        image      : './assets/vmSocks-green-onWhite.jpg',
        description: 'A pair of green socks',
        inventory  : 8,
        onSale     : true,
        details    : ["80% cotton", "20% polyester", "Looks sweet"],
        variants   : [
          {
            id   : 123,
            color: "green",
            image: './assets/vmSocks-green-onWhite.jpg',
          },
          {
            id   : 999,
            color: "blue",
            image: './assets/vmSocks-blue-onWhite.jpg',
          },
        ],
        cart: 0,
      },
      methods: {
        addToCart: function () { this.cart++ },
        removeFromCart() { this.cart--; },

        updateVariant(variant) {
          this.image = variant.image;
        }
      },
      computed: {
        title() {
          return `${this.brand} ${this.product}`
        }
      }
    })
  </script>
</body>
</html>
