<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Product App</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="nav-bar"></div>

  <div id="app">
    <div class="cart">
      <p>Cart: {{ cart.length }}</p>
    </div>

    <product
      :premium="premium"
      @add-to-cart="addToCart"
      @remove-from-cart="removeFromCart"
    ></product>

    <product
      :premium="true"
      @add-to-cart="addToCart"
      @remove-from-cart="removeFromCart"
    ></product>

    <product
      :premium="false"
      @add-to-cart="addToCart"
      @remove-from-cart="removeFromCart"
    ></product>
  </div>

  <script>
    Vue.component('product', {
      props: {
        premium: {
          type: Boolean,
          required: true
        }
      },
      template: `
        <div class="product">

          <div class="product-image">
            <img :src="image" :alt="description">
          </div>

          <div class="product-info">
            <h1>{{ title }}</h1>

            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>

            <p v-show="onSale"><em>On Sale!</em></p>

            <p>{{ shipping }}</p>

            <product-details :details="details"></product-details>

            <div v-for="(variant, index) in variants"
                :key="variant.id"
                class="color-box"
                :style="{ backgroundColor: variant.color }"
                @mouseover="updateVariant(index)"
            >
            </div>

            <button v-on:click="addToCart()"
                    :disabled="!inStock"
                    :class="{ disabledButton: !inStock }"
            >Add to Cart</button>

            <button @click="removeFromCart()"
                    :disabled="isInCart(selectedVariant)"
                    :class="{ disabledButton: isInCart(selectedVariant) }"
            >Remove from Cart</button>

            <div>
              <h2>Reviews</h2>
              <p v-if="!reviews.length">There are no reviews yet.</p>
              <ul>
                <li v-for="review in reviews">
                  <p>{{ review.name }}</p>
                  <p>{{ review.rating }}</p>
                  <p>{{ review.review }}</p>
                </li>
              </ul>
            </div>

          </div>

          <product-review @review-submitted="addReview"></product-review>
        </div>
      `,
      data() {
        return {
          brand          : 'Vue Mastery',
          product        : 'Socks',
          description    : 'A pair of green socks',
          onSale         : true,
          details        : ["80% cotton", "20% polyester", "Looks sweet"],
          selectedVariant: 0,
          variants       : [
            {
              id       : 123,
              color    : "green",
              image    : './assets/vmSocks-green-onWhite.jpg',
              inventory: 8,
            },
            {
              id       : 999,
              color    : "blue",
              image    : './assets/vmSocks-blue-onWhite.jpg',
              inventory: 2,
            },
          ],
          reviews: [],
        };
      },
      methods: {
        addToCart() {
          this.$emit('add-to-cart', this.variants[this.selectedVariant].id)
        },

        removeFromCart() {
          this.$emit('remove-from-cart', this.variants[this.selectedVariant].id)
        },

        isInCart() {
          return false; // TODO
        },

        updateVariant(index) {
          this.selectedVariant = index
        },

        addReview(productReview) {
          this.reviews.push(productReview)
        }
      },
      computed: {
        title() {
          return `${this.brand} ${this.product}`
        },

        image() {
          return this.variants[this.selectedVariant].image
        },

        inStock() {
          return this.variants[this.selectedVariant].inventory > 0
        },

        shipping() {
          return `Shipping: ${this.premium ? 'free' : '2.99'}`
        },
      }
    });

    Vue.component('product-details', {
      props: {
        details: {
          type: Array,
          required: true
        }
      },
      template: `
        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>
      `,
    });

    Vue.component('product-review', {
      template: `
        <form class="review-form" @submit.prevent="onSubmit">
          <p v-if="errors.length">
            <b>Please correct the following error(s):</b>
            <ul>
              <li v-for="error in errors">{{ error }}</li>
            </ul>
          </p>

          <p>
            <label for="name">Name:</label>
            <input id="name" v-model="name" placeholder="name">
          </p>

          <p>
            <label for="review">Review:</label>
            <textarea id="review" v-model="review"></textarea>
          </p>

          <p>
            <label for="rating">Rating:</label>
            <select id="rating" v-model.number="rating">
              <option>5</option>
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
            </select>
          </p>

          <p>
            <input type="submit" value="Submit">
          </p>

        </form>
      `,
      data() {
        return {
          name  : null,
          review: null,
          rating: null,
          errors: []
        }
      },
      methods: {
        onSubmit() {
          this.errors = []

          if (this.name && this.review && this.rating) {
            const productReview = {
              name  : this.name,
              review: this.review,
              rating: this.rating,
            }

            this.$emit('review-submitted', productReview)

            this.name   = null
            this.review = null
            this.rating = null
          }
          else
          {
            if (!this.name)   this.errors.push("Name required")
            if (!this.review) this.errors.push("Review required")
            if (!this.rating) this.errors.push("Rating required")
          }
        }
      }
    });

    var app = new Vue({
      el: '#app',
      data: {
        cart   : [],
        premium: true
      },
      methods: {
        addToCart(id) {
          this.cart.push(id);
        },

        removeFromCart(id) {
          const index = this.cart.findIndex(c => c == id);
          if (index !== -1) {
            this.cart.splice(index, 1);
          }
        }
      }
    })
  </script>
</body>
</html>
